cairosvg==2.5.2
certifi==2020.12.5
chardet==4.0.0
cssselect2==0.4.1
defusedxml==0.7.1
idna==2.10
numpy==1.20.2
pandas==1.2.4
pillow==8.2.0
python-chess==0.31.4
python-dateutil==2.8.1
python-telegram-bot==13.4
requests==2.25.1
six==1.15.0
urllib3==1.26.4
webencodings==0.5.1
zstandard==0.15.2